@font-face {
    font-family: "Anon";
    src: url("/fonts/AnonymousPro-Regular.ttf");
}

body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

body::before {
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/media/denim.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}

.nav-link img {
    height: 2rem;
}

#nav-secret img {
    height: 5rem;
}

#nav-tabs {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.nav-tab {
    font-family: "Anon";
    font-size: 1rem;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

#profile img {
    height: 500px;
    width: auto;
}
